   <div class="toast-container position-absolute top-0 end-0 p-3" >
  
      <div class="toast " role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-delay="25000" >
        <div class="toast-header">
          <strong class="me-auto"><h5>How it works</h5></strong>

          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <h6> Click on the word to get the Frequency and similar words</h6> 
        </div>
      </div>
    </div>
