<header>
  <!--Responsive Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" routerLink="/" >
              <img class="img-fluid" [src]="logoImage">
          </a>
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link p-3"  routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
                  </li>
         
              </ul>
          </div>
      </div>
  </nav>
</header>
<main>


